body {

    overflow: hidden;
    user-select: none;
}

p {

    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;

    color: rgb(148, 148, 148);
}

img {
    position: absolute; 

    top: -25px;
    bottom: 0px;

    opacity: 0.2;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
}

.title-bar-button {

    width: 50px;
    height: 30px;

    margin-left: -4px;
    padding: 0px;

    border: none;
    background: rgb(22, 22, 22);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

    z-index: 10;
    user-select: none;

    color:rgb(148, 148, 148);

    -webkit-app-region: none;
}

.title-bar-button:hover {

    background: rgb(70, 70, 70);
    color: white;
}

.title-bar-button:focus {

    outline: none;
}

.log-entry-container {
    position: relative;
    
    margin-top: 15px;
    margin-bottom: 15px;

    opacity: 0;

    transition: 0.4s;
}

.log-entry-show {
    opacity: 0;
}

.log-entry {
    display: inline;
    margin-right: 20px;
}

.process-divider {

    font-size: 20px;

    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

.process-title {
    font-size: 15px;

    color: rgb(102, 102, 102);
}

.log-entry-complete-indicator {
    display: inline;
    color: rgb(88, 143, 88);
    font-weight: 500;
}

#download-progress-background {

    opacity: 0;

    position: absolute;
    bottom: 0px;
    left: 0px;
    
    width: 100%;
    height: 20px;

    background: rgb(18, 18, 18);

    transition: 0.5s;
}

#download-progress-bar {

    bottom: 0px;
    left: 0px;
    
    width: 0%;
    height: 100%;

    background: rgb(88, 143, 88);

    transition: 0.5s;
}

#title-bar {
    
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 30px;

    background: rgb(22, 22, 22);

    z-index: 2;
}

#title-bar-button-container {

    position: absolute; 
    top: 0px;
    right: 0px;
}

#title {

    padding: 0px;
    margin: 0px;
    line-height: 20px;

    padding-top: 10px;
    padding-left: 15px;

    color: rgb(153, 153, 153);

    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#body {

    position: absolute;
    top: 25px;
    left: 0px;

    width: calc(100% - 30px);
    height: calc(100% - 55px);

    background: rgb(22, 22, 22);

    z-index: 1;

    padding: 15px; 
}

#close:hover {
    background: rgb(155, 79, 79);
}

#app-title {

    position: relative;

    top: 0px;
    left: 30px;

    margin-top: 100px;
    margin-bottom: 20px;

    font-size: 60px;

    /* transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); */
    transition: 1s;
}

#app-subtitle {

    font-size: 20px;
}

#subtitle-region {
    position: absolute;

    top: 180px;
    left: 47px;

    z-index: 10;

    transition: 0.5s;
}

#install-button {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(88, 143, 88);
    border-radius: 3px;

    color: rgb(88, 143, 88);

    background: transparent;

    width: 80px;
    height: 30px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

    transition: 0.5s;
}

#install-button:focus {
    outline: none;
}

#install-button:hover {
    cursor: pointer;

    border-color: rgb(148, 189, 148);
    color: rgb(148, 189, 148);
}

#logs {

    position: relative;

    left: 30px;

    opacity: 1;

    transition: 1s;
}

#current-process-display {

    opacity: 0;
    
    position: absolute;

    top: 20px;
    left: 50px;

    display: flex;
    justify-content: space-around;

    transition: 0.7s;
}